{% extends 'base.html.twig' %}

{% block title %}Gestion du ZOO{% endblock %}

{% block body %}
    <div class="container">
        <div class="example-wrapper">
            <h1>Gestion du ZOO</h1>
            <h2>Les espaces</h2>
            <table class="table table-striped">
                <tr>
                    <th>Nom</th>
                    <th>Superficie</th>
                    <th></th>
                </tr>
                {% for es in espace %}
                    <tr>
                        <td>{{ es.nom }}</td>
                        <td>{{ es.superficie }} m2</td>
                        <td style="width:15rem">
                            <a href="{{ path("voir_enclos",{"idEspace":es.id}) }}"
                               class="btn btn btn-primary"><span class="fa-solid fa-eye"></span>
                            </a>
                            <a href="{{ path("enclos_ajouter") }}" class="btn btn btn-success">
                                <span class="fa-solid fa-plus"></span>
                            </a>
                            <a href="{{ path("espace_modifier",{"id":es.id}) }}" class="btn btn btn-warning">
                                <span class="fa-solid fa-pen-to-square"></span>
                            </a>
                            <a href="{{ path("espace_supprimer",{"id":es.id}) }}" class="btn btn btn-danger">
                                <span class="fa-solid fa-trash-can"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>

            <h2>Ajouter un espace</h2>
            {{ form(formulaire) }}

        </div>
    </div>
{% endblock %}